@font-face {
    font-family: 'MKZYT';
    font-display: swap;
    src: url('./MaoKenZhuYuanTi.ttf') format("truetype");
  }

@font-face {
    font-family: 'Monaco';
    font-display: swap;
    src: url('./Monaco.ttf') format("truetype");
}

/*滑到顶部的导航栏*/
#page-header.not-top-img #nav a, #page-header.not-top-img #nav .site-name{
    color:#ff9cca;
    font-size: 20px;
}

#nav .site-name{
    color:#ff9cca;
}
/*全页背景*/
#body-wrap{

    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/

    /*background-image: linear-gradient(-225deg, #ff9ece 0%, #ffffff 48%, #58abf3 100%);*/
    background-image: url("../img/bg5.jpg");
    background-attachment: fixed;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-dialog{
    background: rgba(255,220,255,0.7);
    backdrop-filter: blur(20px);
}

/*头部图片*/
#page-header{
    background-color: transparent;
}

/*头部图片背景*/
#page-header:not(.not-top-img):before{
    background-color: transparent;
}
/*个人资料卡背景*/
#aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    background-image: url('../img/personalDataBg.jpeg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%
}

/*网站标题文字*/
#page-header #site-title, #page-header #site-subtitle, #page-header #scroll-down .scroll-down-effects{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.408);
    color:rgb(255, 137, 200);
}

/* 翻页按钮居中 */
#pagination {
	width: 100%;
	margin: auto;
  }

/*归档滑过时的属性*/
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a, #aside-content .card-categories ul.card-category-list > .card-category-list-item a {
    border-radius: 20px;
    padding-left: 10%;
}
/*翻页按钮属性*/
#pagination .page-number.current{
    background: #ff9cca;
    border-radius: 20px;
}
/*卡片属性*/
.cardHover, .layout > div:first-child:not(.recent-posts), 
#recent-posts > .recent-post-item, #aside-content .card-widget, 
.layout > .recent-posts .pagination > *:not(.space){
    background: rgba(255, 226, 244, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    border: 2px solid #ffb8da;
    transition: all 0.5s cubic-bezier(0.27, 0.36, 0.38, 0.94);
}

.cardHover:hover, .layout > div:first-child:not(.recent-posts):hover, 
#recent-posts > .recent-post-item:hover, #aside-content .card-widget:hover, 
.layout > .recent-posts .pagination > *:not(.space):hover{
    box-shadow: 0 0 20px rgba(255, 116, 209, 0.7);
    transition: all 0.5s cubic-bezier(0.27, 0.36, 0.38, 0.94);
}

/*侧边栏宽*/
#aside-content .card-widget{
    width: 140%;
}

/*侧边栏按钮*/
#aside-content .card-info #card-info-btn{
    border-radius: 40px;
    background-color: #ff9cca;
    transition: all 0.5s cubic-bezier(0.27, 0.36, 0.38, 0.94);
}
/*侧边栏按钮:划过*/
#aside-content .card-info #card-info-btn:hover{
    /*border-radius: 40px;*/
    background-color: #55a7ff;
}
/*侧边栏目录导航*/
#aside-content #card-toc .toc-content .toc-link.active{
    border-radius: 20px;
    padding-left: 20px;
    background-color: #ff9cca;
}
/*字体*/
#post .post-copyright .post-copyright-meta{
    color:#ff9cca
}

/*代码边界*/
#article-container figure.highlight{
    border-radius: 16px;

}

/*页脚*/
#footer-wrap{
    background: linear-gradient(-225deg, rgba(255,220,255,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(91,150,255,0.2) 100%);
    border-radius: 40px;
    color:#ff9cca;
    width: auto;
    backdrop-filter: blur(20px);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border: 2px solid #ffb8da;
    transition: all 0.5s cubic-bezier(0.27, 0.36, 0.38, 0.94);
}
/*页脚:划过*/
#footer-wrap:hover{
    
    border: 2px solid #ffb8da;
    box-shadow: 0px 0px 20px#ff9cca;
}

/*导航*/
#page-header.nav-fixed #nav{
    border-radius: 25px;
    margin: 25px;
    width: 97%;
    backdrop-filter: blur(20px);
    background: linear-gradient(-225deg, rgba(255,220,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(91,150,255,0.5) 100%)
}

#page-header.not-top-img #nav{
    border-radius: 25px;
    margin: 25px;
    width: 97%;
    backdrop-filter: blur(20px);
    background:linear-gradient(-225deg, rgba(255,220,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(91,150,255,0.5) 100%)
}

/*导航栏项目居中*/
div#menus{
    flex:1 1 auto;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#he-plugin-simple[data-v-41ba7e2c]{
    font-family: MKZYT;
}

/*滚动条*/
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-thumb{
    background: linear-gradient(-180deg, #ff9cca85 0%,#ffffff8a 50%, #55a7ff88 100%);
    border-radius: 10px;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}

@media screen and (min-width: 900px){
    #aside-content {
        margin-left: 40px;
    }
}



/*导航项目与搜索按钮分开*/
#nav .menus_items{
    padding-left: 20px;
    font-size: 18px;
    padding-top: 4px;
}

#page-header.nav-fixed #nav a, #page-header.nav-fixed #nav #toggle-menu{
    color:#ff9cca;
}

#nav.show{
    border-radius: 25px;
    margin: 25px;
    width: 97%;
    backdrop-filter: blur(20px);
    background: linear-gradient(-225deg, rgba(255,220,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(91,150,255,0.5) 100%);
    /* color:#ff9cca; */
    transition: all 0.5s cubic-bezier(1, 0.01, 0.13, 1.02);
}
/*选择文字样式*/
*::selection{
    background: rgb(255, 119, 189);
    color: white;
}

/*导航栏项目样式*/
#nav .site-page:not(.child):after{
    background-color: #ff9cca;
    transition: all 0.5s cubic-bezier(1, 0.01, 0.13, 1.02);
    font-size: 56px;
}
/*导航栏项目样式*/
#nav .site-page:not(.child):after:hover{
    background-color: #00a6ff;
    transition: all 0.5s cubic-bezier(1, 0.01, 0.13, 1.02);
}

#nav .site-page{
    font-size: 20px;
    color:#ff9cca;
}

#nav .site-page:hover{
    color:#00a6ff;
}

/*导航栏永驻*/
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

/*顶部加载进度条*/
.pace {
	pointer-events: none;
	user-select: none;
	z-index: 2;
	position: fixed;
	margin: auto;
	top: 120px;
	left: 0;
	right: 0;
	height: 12px;
	border-radius: 8px;
	width: 20rem;
	background: #ffd4e8;
	overflow: hidden;
  }
  
  .pace-inactive .pace-progress {
	opacity: 0;
	transition: 0.3s ease-in;
  }
  
  .pace.pace-inactive {
	opacity: 0;
	transition: 0.5s;
	top: -8px;
  }
  
  .pace .pace-progress {
	box-sizing: border-box;
	transform: translate3d(0, 0, 0);
	position: fixed;
	z-index: 2;
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	width: 100%;
	background: #a849f5;
	background: linear-gradient(
	  to right,
	  rgb(0, 179, 255) 0%, 
	  rgb(255, 255, 255) 50%,
	  rgb(255, 119, 189) 100%
	);
	animation: gradient 2s ease infinite;
	background-size: 100%;
  }

#nav-right {
	flex: 1 1 auto;
	justify-content: flex-end;
	margin-left: auto;
	display: flex;
	flex-wrap: nowrap;
}

/*显示标题*/
#page-name::before {
	font-size: 18px;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	color: white !important;
	top: 0;
	left: 0;
	background-color: var(--lyx-theme);
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	opacity: 0;
	box-shadow: 0 0 3px var(--lyx-theme);
	line-height: 45px;
	/*如果垂直位置不居中可以微调此值，也可以删了*/
}

#page-name:hover:before {
	opacity: 1;
}

@media screen and (max-width:900px) {

	#page-name,
	#menus {
		display: none !important;
	}
}

#name-container {
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

#name-container:hover {
	scale: 1.03
}

#page-name {
	position: relative;
	padding: 10px 30px
}

#nav {
	padding: 0 20px;
}